html {
  font-size: 14px;
}

label {
    font-family: 'Times New Roman', Times, serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}